*{margin:0;padding:0;outline:0}
body{ font-family: arial;font-size: 14px;line-height: 18px;color: 000; }
.template{width: 960px; margin: 0 auto;}
.clear{overflow: hidden;}
.headersection{
	height: 85px;background: #D18415; color: #4E8B14;
}
.logo{
	float: left;
	width: 180px;
	color: #4E8B14;
	color: #ffffff;
}
.logo img{
	float: left;
	width: 50px;
	padding: 5px;
	margin-top: 16px;
}
.logo h1{
	font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
    display: block;

 
}
.headersection h1{
	margin-right: 5px;
}
.headersection p{
	margin-right: 5px;
}
.social{
	float: right;
	width: 160px;
	margin-right: -60px;
	margin-top: 15px;
}
.social a img{
	width: 25px;
	border-radius: 4px;

}
.searchbtn{
	float: right;
	margin-top: 15px;
	margin-right: -83px;
}
.navsection{
	background-color: #FFCD42;
font-size: 20px;
height: 40px;
}
.navsection ul{
 margin: 0;padding: 0;list-style: none;
}
.navsection ul li{
  display: block;
  float:left;
}
.navsection ul li a{
  background-color: #FFCD43;
	padding: 11px;
	color: #000;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.navsection ul li a:hover
    {
    	 background-color: #2F2D2E;
    	 color: #0987C2;
    	 margin-top: 1px;
    	 border-radius: 4px;

	}
.contentsection{background: #ffffff;}
.slider img{
	margin-bottom: 10px;
	box-shadow: 0px 10px 8px 0px #333;
	
}
.maincontent{width: 730px;
	background: #fef4e5;
	color: #000;
	float: left;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #0987C2;
	margin-bottom: 4px;
}
.pagination {
	display: block;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
.pagination a{
background: #D18415;
border: 1px solid blue;
padding: 2px 10px;
text-decoration: none;
margin-left: 5px;
}
.pagination a:hover{

}

.samepost h3{
border-bottom: 1px solid black;
}
.samepost h3 a{
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
	color: blue;
	
}
.date h5 {
	
	float: left;
}
.date a{
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
	color: blue;
}
.samepost img{
	width: 250px;
	height: 150px;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #0987C2;
	float: left;
	margin-right: 10px;
}
.samepost p{

	margin-top: 10px;
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
}
.readmore a{
	margin-top: 10px;
	text-decoration: none;
	float: right;
	padding: 10px;
	background: red;
	color: #ffffff;
	border-radius: 4px;
}
.sidebar{

	float: right;
	width: 200px;
	background-color: #F3EDBD;
	margin-top: 5px;
	border: 1px solid #0987C2;

}
.semisidebar h2{
	 text-align: center;
	 font-size: 20px;
	 font-weight: bold;
	 background-color: #9B999A;
	 border-bottom: 2px solid  #555555;
	 color: #fff;
	 padding: 10px;
}
.semisidebar h4{
	text-align: center;
	 font-size: 20px;
	 font-weight: bold;
	 background-color: #9B999A;
	 border-bottom: 2px solid  #555555;
	 color: #fff;
	 padding: 10px;
	 margin-top: 10px;
}
.popular h3{
	font-weight: bold;
	color: red;
	border-bottom: 1px dotted #555555;
}
.popular img{
	margin-top: 5px;
	padding: 4px;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
	border-radius: 4px;
}
.popular p{
  margin-left: 5px;
  
}
.popular a{
	text-decoration: none;
}
.related {
	margin-top: 20px;
	
}
.div1{
	float: left;
}
.related h4 a{
	font-size: 20px;
	padding-left: 80px;
}
.related img{
	margin-left: 10px;
	border-radius: 4px;
	width: 250px;
	height: 200px;
}
.semisidebar ul{
margin: 0;padding: 0; list-style: none;
}
.semisidebar ul li{
border-bottom: 1px dotted  #555555;
}
.semisidebar ul li a{
	margin-left: 10px;
	text-decoration: none;
	font-size: 16px;
	

}
.footersection{
	height: 85px;background: #D18415; color: #4E8B14;
	text-align: center;
}
.footersection h2{
	font-size: 20px;
	font-weight: bold;
    margin-top: 10px;
}
.footersection ul{
	margin: 0; padding:0;list-style: none; 
}
.footersection ul li{
	margin-top: 10px;
	display: inline-block;
	
}
.footersection ul li a{

	text-decoration: none;
	padding: 5px;
	font-size: 14px
	font-weight:bold;
	color: #ffffff;
}